:root {
    --darkgray: #212329;
    --brightred: #fd2921;
    --white: #fff;
    --lightred: #f9433dcc;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}


/* === NAVBAR DESKTOP CSS === */
.nav-container {
    width: 100%;
    background-color: var(--darkgray);
}

.navbar {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
}

#navbar-logo {
    color: var(--white);
    justify-self: start;
    margin-left: 40px;
}

#navbar-logo {
    cursor: pointer;
}


.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 50%;
    justify-self: end;
    margin-top: 17px;
}

.nav-links {
    color: var(--white);
    text-decoration: none;
}

.nav-links:hover {
    color: var(--brightred);
    transition: all 0.2s ease-out;
}

.nav-links-btn {
    background-color: var(--brightred);
    padding: 6px 16px;
    border-radius: 5px;
}

.nav-links-btn:hover {
    background-color: transparent;
    color: var(--brightred);
    padding: 5px 15px;
    border-radius: 5px;
    border: solid 2px  var(--brightred);
    transition: all 0.4s ease-out;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--white);
}
/* === NAVBAR DESKTOP CSS ENDS === */

/* === HEADER === */
.head-title {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
    line-height: 30rem;
    font-size: 70px;
}


.header-page {
    background-color: var(--darkgray);
    height: 530px;
}


/* === HEADER ENDS === */

/* === ABOUT ME === */

.column-left {
    min-height: 750px;
    background-image: linear-gradient(180deg, rgba(12, 32, 59, 0.55), rgba(12, 32, 59, 0.74)), url(../images/bg1.jpg);
    background-position: 0px 0px, 50% 100%;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
    object-fit: fill;
    -o-object-fit: cover;
}

.column-right {
    background: #272b3b;
}

.section-title, .paragraph {
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}

.section-title {
    font-size: 60px;
    margin-top: 20px;
}

.paragraph {
    font-size: 25px;
    margin-top: 50px;
    padding: 5px;
    font-family: 'Montserrat',sans-serif;
}

/*===CSS FOR SOCIAL MEDIA ICONS*/
.social-media {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: #272b3b;
    margin-top: 50px;
  }
  
.icon-list {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
}
  
  
.icon-list li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 30px;
    transform: rotate(-30deg) skew(25deg);
    background: #272b3b;
}
  
.icon-list li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    background: #272b3b;
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px !important;
}
  
.icon-list li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
}
  
.icon-list li:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: .8;
}
  
.icon-list li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: .6;
}
  
.icon-list li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: .4;
}
  
.icon-list li:hover span:nth-child(1) {
    transform: translate(0,0);
    opacity: .2;
}
  
.icon-list li:nth-child(1) span {
    background: #3b5999;
}
  
.icon-list li:nth-child(2) span {
    background: #e4405f;
}
  
.icon-list li:nth-child(3) span {
    background: #55acee;
}
  
.icon-list li:nth-child(4) span {
    background: #9147fe;
}


/* === DESKTOP VER === */
@media screen and (min-width: 992px) {
    .header-page::before {
        content: '';
        position: absolute;
        bottom: 15px;
        left: 0;
        width: 100%;
        height: 100px;
        background: linear-gradient(0deg, #272b3b 3%, transparent);
        transition: 0.2s;    
    }
}
/* === TAB VERSION === */
@media screen and (max-width: 758px) {
    /* === NAVBAR === */
    .nav-container {
        position: relative;
    }

    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        background: var(--brightred);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
        margin-left: -20px;
    }

    #navbar-logo {
        margin-left: 30px;
    }

    .nav-menu.active {
        background: var(--darkgray);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        line-height: 80px;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        color: var(--brightred);
        transition: all 0.4s ease-out;
    }

    .navbar {
        width: 100%;
    }
    .nav-links-btn {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--darkgray);
        color: var(--white);
        transition: all 0.4s ease-out;
    }

    .nav-links-btn:hover {
        border: none;
        padding: 0;
        border-radius: 0;
        color: var(--brightred);
        transition: all 0.4s ease-out;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    /* === NAVBAR ENDS === */

    /* === HEADER TITLE === */
    .header-page {
        height: 320px;
    }

    .head-title {
        font-size: 35px;
        line-height: 18rem;
    }

    .paragraph {
        margin-top: 15px;
        font-size: 20px;
    }
    .section-title {
        margin-top: -40rem;
    }

    .column-right {
        background-color: transparent;
    }

    .social-media {
        background: transparent;
        margin-top: -30px;
    }

    .icon-list li span {
        background: transparent;
    }

    .icon-list li {
        background: transparent;
        margin: 0 10px;
    }


    



}
