:root {
    --darkgray: #212329;
    --brightred: #fd2921;
    --white: #fff;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}


/* === NAVBAR DESKTOP CSS === */
.nav-container {
    width: 100%;
    background-color: var(--darkgray);
}

.navbar {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 90%;
    max-width: 1720px;
    margin: 0 auto;
}

#navbar-logo {
    color: var(--white);
    justify-self: start;
    margin-left: 40px;
}

#navbar-logo {
    cursor: pointer;
}


.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    list-style: none;
    text-align: center;
    width: 50%;
    justify-self: end;
    margin-top: 17px;
}

.nav-links {
    color: var(--white);
    text-decoration: none;
}

.nav-links:hover {
    color: var(--brightred);
    transition: all 0.2s ease-out;
}

.nav-links-btn {
    background-color: var(--brightred);
    padding: 6px 16px;
    border-radius: 5px;
}

.nav-links-btn:hover {
    background-color: transparent;
    color: var(--brightred);
    padding: 5px 15px;
    border-radius: 5px;
    border: solid 2px  var(--brightred);
    transition: all 0.4s ease-out;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--white);
}
/* === NAVBAR DESKTOP CSS ENDS === */

/* === HEADER === */
.head-title {
    font-family: 'Poppins', sans-serif;
    color: #f5f5f5;
    text-align: center;
    line-height: 30rem;
    font-size: 70px;
}


.header-page {
    background-color: var(--darkgray);
    height: 530px;
}


/* === HEADER ENDS === */

/* === ABOUT ME === */

.column-left {
    min-height: 750px;
    background-image: linear-gradient(180deg, rgba(12, 32, 59, 0.55), rgba(12, 32, 59, 0.74)), url(../images/bg1.jpg);
    background-position: 0px 0px, 50% 100%;
    background-size: auto, cover;
    background-attachment: scroll, scroll;
    object-fit: fill;
    -o-object-fit: cover;
}

.column-right {
    background: #eeecec;
}

.section-title, .paragraph {
    color: #212329;
    font-family: 'Poppins', sans-serif;
}

.section-title {
    font-size: 60px;
    margin-top: 20px;
}

.paragraph {
    font-size: 25px;
    margin-top: 50px;
    padding: 5px;
    font-family: 'Montserrat',sans-serif;
}

/*===CSS FOR SOCIAL MEDIA ICONS*/
.social-media {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: #eeecec;;
    margin-top: 50px;
}
  
.icon-list {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
}
  
  
.icon-list li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 0 30px;
    transform: rotate(-30deg) skew(25deg);
    background: #eeecec;;
}
  
.icon-list li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    background: #eeecec;;
    display: flex !important;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px !important;
}
  
.icon-list li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
}
  
.icon-list li:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: .8;
}
  
.icon-list li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: .6;
}
  
.icon-list li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: .4;
}
  
.icon-list li:hover span:nth-child(1) {
    transform: translate(0,0);
    opacity: .2;
}
  
.icon-list li:nth-child(1) span {
    background: #3b5999;
}
  
.icon-list li:nth-child(2) span {
    background: #e4405f;
}
  
.icon-list li:nth-child(3) span {
    background: #55acee;
}
  
.icon-list li:nth-child(4) span {
    background: #9147fe;
}

/* === SECTION1 CSS === */
main {
    background-color: #eeecec;
    margin-top: -3px;
}

.section-1 {
    padding: 20vmin 0;
}

.section-1 .row .col-md-6 .pray img {
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
    position: relative;
}

.section-1 .row .col-md-6 .panel {
    position: absolute;
    text-align: left;
    background-color: var(--white);
    border-radius: 3px;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.4);
    z-index: 1;
    color: #212329;
    width: 50%;
    margin-top: 4rem;
}

.section-1 .row .col-md-6 .panel h1 {
    padding: 0.4em;
    font-size: 7vmin;
}

.section-1 .row .col-md-6 .panel p {
    font-family: 'Montserrat', sans-serif;
}


/* === SECTION 2 CSS === */
.cover {
    width: 100%;
    height: 55vmin;
    background: url(../images/bg6.jpg);
    background-position: -20rem -19rem;
    background-size: 100%;
    position: relative;
}

.cover .content {
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
    padding-top: 19vmin;
}

.cover .content > h1 {
    font-size: 6vmin;
    color: whitesmoke;
}

.cover .content > p {
    font-family: 'Montserrat', sans-serif;
    font-size: 2vmin;
    color: #e5e5e5
}

.numbers {
    margin-top: -13vmin;
}

.numbers .rectangle {
    position: relative;
    z-index: 1;
    background: var(--white);
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: 2vmin;
    box-shadow: 1px 2px 30px 0px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.numbers .rectangle > h1 {
    margin-top: 9vmin;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.numbers .rectangle > h1:hover {
    color: var(--brightred);
    transition: all 0.2s ease-out;
}
.numbers .rectangle:hover {
    background-color: var(--darkgray);
    color: #f5f5f5;
    transition: all 0.3s ease-out;
}

/* === END OF SECTION === */
.end-section {
    width: 100%;
    height: 25rem;
    background-color: var(--darkgray);
    margin-top: -4rem;
}

.message .thanks-message > h1 {
    color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    padding: 11rem 22rem;
}

/* === PROFILE SECTION === */
footer {
    background-color: var(--darkgray);
    color: var(--white);
    width: 100%;
    height: 300px;
}

.profile > img {
    margin-top: -60px;
}

.profile > h1 {
    padding-top: 30px;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

/* === TAB VERSION === */
@media screen and (max-width: 758px) {
    /* === NAVBAR === */
    .nav-container {
        position: relative;
    }

    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        background: var(--brightred);
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
        margin-left: -20px;
    }

    #navbar-logo {
        margin-left: 30px;
    }

    .nav-menu.active {
        background: var(--darkgray);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        line-height: 80px;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        color: var(--brightred);
        transition: all 0.4s ease-out;
    }

    .navbar {
        width: 100%;
    }

    .nav-links-btn {
        border: none;
        padding: 0;
        border-radius: 0;
        background-color: var(--darkgray);
        color: var(--white);
        transition: all 0.4s ease-out;
    }

    .nav-links-btn:hover {
        border: none;
        padding: 0;
        border-radius: 0;
        color: var(--brightred);
        transition: all 0.4s ease-out;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    /* === NAVBAR ENDS === */

    /* === HEADER TITLE === */
    .header-page {
        height: 320px;
    }

    .head-title {
        font-size: 40px;
        line-height: 18rem;
    }

    .paragraph {
        margin-top: 15px;
        font-size: 20px;
    }
    .section-title {
        margin-top: -37rem;
    }

    .column-right {
        background-color: transparent;
    }
    .column-right h1,
    .column-right p {
        color: #f5f5f5;
    }

    .social-media {
        background: transparent;
        margin-top: -20px;
    }

    .icon-list li span {
        background: transparent;
    }

    .icon-list li {
        background: transparent;
        margin: 0 10px;
    }

    /* === SECTION MOBILE CSS === */
    .section-1 .row .col-md-6 .panel {
        position: initial;
        width: initial;
        height: initial;
        margin-top: -8rem;
    }

    .section-1 .row .col-md-6 .pray img {
        display: none;
    }

    .section-2 {
        margin-top: -5rem;
    }

    .section-2  .cover {
        background-position: -25vmin -10vmin;
    }

    .numbers .rectangle {
        width: 7.5rem;
        height: 5rem;
    }

    .numbers .rectangle h1 {
        font-size: 15px;
        margin-top: 1rem;
    }
    /* === THANKS SECTION === */
    .message .thanks-message > h1 {
        font-size: 3rem;
        padding: 8rem 6.5rem;
        text-align: center;
    }

    .end-section {
        height: 24rem;
    }
}
